<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <a ng-class="{'btn-primary': $ctrl.view === 'home'}" ng-click="$ctrl.setView('home')">Home</a>
    <a ng-class="{'btn-primary': $ctrl.view === 'about us'}" ng-click="$ctrl.setView('about us')">About us</a>  

    


</body>
</html>